<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>THIS IS YOUR TEAM</h1>
   <form method="POST" action="/team">
   </form>
 </body>
</html>
